@import url("https://fonts.googleapis.com/css2?family=Rethink+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Rethink Sans', sans-serif;
}

:root {
  font-size: 62.5%;
}

body {
    margin-block: 4rem;
    background-color: #f4f4f4;

    font-family: Arial, sans-serif;
    font-size: 1.6rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

h1 {
    margin-bottom: 2rem;
}

.container {
  width: min(40rem, 90%);
  padding: 2rem;

  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  
  text-align: center;
}

.header {
  font-size: 2.4rem;
  font-weight: bold;
  
  margin-bottom: 2rem;
}

.data-display {
    min-height: 5rem;
  
    border: .1rem solid #ddd;
  border-radius: .5rem;
  
  padding: 1rem;
  margin-bottom: 2rem;
}

button {
  background-color: #4caf50;
  padding: 1rem 2rem;
  margin: .5rem;

  font-size: 1.6rem;
  color: #fff;
  
  border: none;
  border-radius: .5rem;

  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.info .text {
    color: rgb(98, 98, 98);
}